.navigation
{ 
  padding: 0em 1vm .3em 0em; 
  background-color:silver;
  border-width: .2em;
  border-radius: 10%;
  border-style: outset;
  margin: 1vw 1.5vw 1vw 0vw;
  width: 22%;
  float: left;
}

.ul-size
{
   padding: .1em 0em .1em 1em;
   margin-right:1em;
   width:5vw;

}
/* for creating button links*/
.button-nav:link
{ 
  font-size:1.15vw;
  margin:1vw 1vw 1vw 1vw;
  border-width: .2vw;
  border-radius: 1em;
  border-style: outset;
  padding: .5em .5em .5em .5em;
  font-weight: bold;
  color:#803F9E;
  text-decoration: none;
  background-color: gray;
  line-height: 300%;
  text-shadow: .1em .1em .1em black;
  text-align: left;
} 