
/* scale images*/
.larger-image
{
  width: 70%;
}
.medium-image
{
  width:48%;	
}
.smaller-image
{
  width: 20%;	
}
/* images float right and left*/
.imageContainer
{
  float:right;
}
/* border and change shape of image */
.thick-white-border
{
  border-color: white;
  border-width: .1em;
  border-radius:50%;
  border-style: solid;
}
.thin-white-border
{
  border-width: .1em;
  border-radius:15%;
  border-style: solid;
}