body, html 
{
  height: 100%;
  margin: 0;
  font-weight: 100;
  text-align: center;
  font-family: helvetica,sans-serif;
}
/* using radio button for the input type, but will hide it*/
.tabs input[type=radio] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs 
{
  width:80%;
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 3em auto;
}
.tabs li
{
  float: left;
}
.tabs label 
{
  display: block;
  padding: 1em 1em;
  border-radius: .1em 1em 0 0;
  color: rgb(127,76,178);
  font-size: 24px;
  font-weight: normal;
  font-family: 'Permanent Marker', helvetica,sans-serif;
  background: rgba(127,76,178,0.2);
  cursor: pointer;
  position: relative;
  top: .1em;
} 
/* assign a hover a transparent colour and put on top to .tabs*/
.tabs label:hover 
{
  background: rgba(127,76,178,0.5);
  top: 0;
}
/* use of css selectors

^= when one element begins with a set string 
i.e when id element begins with 'tab', makes the code reusable

the + selector when the first element closes and followed by the second apply the css.
So when when an id that begins with tab is checked and is followed directly by label
apply the colours and put on top*/
[id^=tab]:checked + label 
{
  background: rgb(127,76,178);
  color: white;
  top: 0;
}
/* the ~ selector
when the first element condition is met apply the CSS to all instances of second element
So when an id begining with tab is checked apply display:block to the id begining with
tab-content*/
[id^=tab]:checked ~ [id^=tab-content] 
{
  display: block;
}
/* use of z-index to push the .tab-content to the top
i.e. it is the z axis */ 
.tab-content
{
  z-index: 2;
  display: none;
  text-align: left;
  width: 100%;
  font-size: .8em;
  line-height: 140%;
  margin: 0em 2em 2em 0em;
  background: rgb(127,76,178);
  padding: 0em 2em 2em 0em;
  color: white;
  position: absolute;
  top: 6em;
  left: 0;
}