body
{
  font-family:verdana,Helvetica,Arial,sans-serif;
  width: 90%;  
  margin: 0 auto;
  /* fades from one colour to another from the top down 
     currently not support by firefox in this format current versions of 
     Chrome, Edge, and Safari support it*/
  background: -webkit-linear-gradient(top, #2F2727, #1a82f7);
  /* Firefox 3.6+*/  background: -moz-linear-gradient(top, #2F2727, #1a82f7); 
  /* Opera 11.10+ */ background: -o-linear-gradient(top, #2F2727, #1a82f7);
  /* IE 10 */ background: -ms-linear-gradient(top, #2F2727, #1a82f7); 
}
ul
{
  list-style-type: none;
  text-indent:0;
}
#banner
{  
  /*box padding boarder and margin*/
  border-width: .1em;
  border-radius: 25%;
  border-style: outset;
  /*padding-left:1em;*/
  padding:0em 1em .1em 1em;
  /*padding-bottom:5%;*/
  margin-bottom: .5em;
  /*font colour size effect and family*/
  text-align: center;
  color:#a000ff;
  font-size:2vw;
  font-family: 'Permanent Marker', cursive;
  text-shadow: .1em .1em .1em black;
  /* fades from one colour to another from left to right
     currently not support by firefox in this format current versions of 
     Chrome, Edge, and Safari support it*/
  background: -webkit-linear-gradient(left, #ffffff, #00004f);
  /* Firefox 3.6+*/  background: -moz-linear-gradient(top, #ffffff, #00004f); 
  /* Opera 11.10+ */ background: -o-linear-gradient(top, #ffffff, #00004f);
  /* IE 10 */ background: -ms-linear-gradient(top, #ffffff, #00004f); 

}
#maincontent
{  
  
  width: 60%;
  float: right;
  color:#ff00ff;
   
}
#primary
{  
  border-style: ridge;
  border-width:.2em;
  border-color:silver;
  color:#472C54;
  font-size:2vw;
  font-family: 'Permanent Marker', cursive;
  text-shadow: .0em .2em .2em white;
  margin-right:.1em;
  padding:.2em .2em .2em .2em;
  width: 43%;  
  float: left;
  background-image: url("../images/bubbles.gif");   
}

#secondary
{ 
  background-color:silver;
  border-width: .2em;
  border-radius: 10%;
  border-style: outset;
  width: 27%;  
  float: right;
}
#footer
{  
  color:#ffffff;
  font-size:170%;
  font-family: 'Permanent Marker', cursive;
  text-shadow: .2em .2em .2em black;
  margin: 2em 0 0 0;
  padding:3.5em .1em 2em 35%;
  width: 70%;
  clear: both;
  background-repeat: no-repeat;
  background-position:top left;
  background-image: url("../images/footer-image.png");  
}


