/* for scaling Google embedded, padding-bottom rule of 56.25%, 
this figure is reached by using the video's aspect ratio of 16*9, 
so 9 divided by 16 = 0.5625 or 56.25%, so the size of the container 
defined here
*/
.googleEmbedContainer 
{
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
/* the size of the iframe or object or embed is defined here, vm scales better that
% or em
*/
.googleEmbedContainer  iframe, .googleEmbedContainer  object, .googleEnbedContainer  embed 
{
  position:absolute;
  top: 1.5vw;
  left: 2.3vw;
  right: 1.5vw;
  width:80%;
  height:80%;
}